* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  display: flex;
 
  flex-wrap: wrap;
 
}

.container .item {
  text-align: center;
  background: tomato;
  border: 1px solid lightblue;
  box-sizing: border-box;
  margin-bottom: 25px;
  padding: 20px;
  flex-basis: 33.33%;
 
}
.container :first-child
{

  order: 5;
}
.container :nth-child(2)
{
  order:8 ;

}
.container :nth-child(3)
{
  order: 7;
}
.container :nth-child(4)
{
  order: 9;
}
.container :nth-child(5)
{
  order: 1;
}
.container :nth-child(6)
{
  order: 10;
}
.container :nth-child(7)
{
  order: 3;
}
.container :nth-child(8)
{
  order: 6;
}
.container :nth-child(9)
{
  order: 4;
}
.container :last-child
{
  order: 2;
}
.item.item-1,
.item.item-3,
.item.item-5,
.item.item-7,
.item.item-9{

  background-color: beige;
}
.item.item-10{
  flex-basis: 100%;
}
@media screen and (max-width:768px)  {

  .container{
    flex-direction: column-reverse;
    ;
    
    

  }


}
